{% extends "streamApp/base.html" %}

{% block content %}
{% load static %}
{% block title %}Password Reset Page{% endblock %}

<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Password Reset Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Enter email and a mail will be sent with instructions to reset password
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                                               <tr>
                            <th><label for="id_email">Email:</label></th>
                            <td>
                            
                            <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required id="id_email">
                            <br/>
                            
                                
                            
                            </td>
                            </tr>
                        <input class="btn btn-primary btn-block" type="submit" value="Reset Password">
                       
                        
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

