{% extends "streamApp/base.html" %}

{% block content %}
{% load static %}
{% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div style="padding:1rem;  border:solid 2px #FF69B4; border-radius:15px; width:40%; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}">
                <p >
                    <b> {{ message }}.</b>
                </p>
                </div>
            </center>
        </div>

        {% endfor %}
    {% endif %}
<div>
    <center>
        <h1>Password reset complete</h1>
<br/>
<div>
    <p>Your password has been set. You may go ahead and log in <a href="{% url 'login' %}" style="color:blue">here</a>.<br/>
        
    </p>
</div>
    </center>
<div>

{% endblock %}