{% extends "streamApp/base.html" %}

{% block content %}
    {% load static %}
    {% if messages %}
    {% for message in messages %}
    <br/>
    <div>
        <center>
            <div style="padding:1rem;  border:solid 2px #FF69B4; border-radius:15px; width:40%; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}">
            <p >
                <b> {{ message }}.</b>
            </p>
            </div>
        </center>
    </div>

    {% endfor %}
{% endif %}

        <center>
            <div style="padding:1rem;background-color:white;color:green; border:solid 2px green;width:60%">
                <center>
                    <h4><b>Password was changed successfully</b></h4>
                </center>
            </div>
        </center>

{% endblock %}









