{% extends "streamApp/base.html" %}

{% block content %}
{% load static %}
{% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div style="padding:1rem;  border:solid 2px #FF69B4; border-radius:15px; width:40%; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}">
                <p >
                    <b> {{ message }}.</b>
                </p>
                </div>
            </center>
        </div>

        {% endfor %}
    {% endif %}
    
<div>
    <div>
        <h1>Account update</h1>
    </div>
<div>


    <form method="POST" action="resert">
        {% csrf_token %}

        {% if user.is_authenticated %}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" placeholder="{{user.email}}"  name="email" class="form-control" id="email" aria-describedby="emailhelp">
            <small id="emailhelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small>
        </div>
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" placeholder="{{user.username}}"   name="username" class="form-control" id="username" aria-describedby="usernameHelp">
            <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small>
        </div>
        
        {% endif %}
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" required name="password1" class="form-control" id="password1">
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" required name="password2" class="form-control" id="password2">
        </div>
        {% for field in registration_form %}
            <p>
                {% for error in field.errors %}
                    <p style="color: red">{{error}}</p>
                {% endfor %}
            </p>
        {% endfor %}
        {% if registration_form.non_field_errors %}
            <div>
                <p>
                    {{ registration_form.non_field_errors }}
                </p>
            </div>
        {% endif %}   
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

</div>
{% endblock %}