{% extends "streamApp/base.html" %}

{% block content %}
    {% load static %}

    {% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div style="padding:1rem; background-color:azure; border:solid 2px #284678; border-radius:15px; width:auto">
                <p style="color:#fa1414">
                    <b> {{ message }}.</b>
                </p>
                </div>
            </center>
        </div>
        <br/>
        <br/>
        {% endfor %}
    {% endif %}
    

    <div class="container">
        <div style="padding:1rem;display:flex;justify-content:space-between">

            <div style="">
                <h2><b>{{program.ProgramName}} Lectures</b></h2>
            </div>
            {% comment %} <div>
                <a class="btn btn-default" style="border:solid 2px; border:radius:12px;color:#284678" href="{% url 'add_Program' %}"><b> Add new program</b></a>
    
            </div> {% endcomment %}
    
    
           
        </div>
        <hr/>

       

     
        {% if Lectures %}
          
            

            <div class="row">
                
                    {% for Lecture in Lectures %}
                    
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div style="display:flex; justify-content:right">
                                   
                                    
                                </div>
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="display:flex;justify-content:center">
                                        {% comment %}  src="http://127.0.0.1:8000/media/TheFiles/files/Screenshot_2023-03-06_215627.png"{% endcomment %}
                                        <img style="width:inherit; width:100%;border:solid;max-height:320px" src="{% static 'manageProfile/images/DefaultProfile.jpg' %}"/>
                                        
                                    </div>
                                    <hr/>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" style="display:flex; justify-content:center;color: #FF69B4;">
                                            
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{Lecture.Lecture.first_name}} {{Lecture.Lecture.last_name}}
                                            </div>
                                            
                                        </div>
                                        
                                    
                                    </div>
                                    <div class="row no-gutters align-items-center" style="padding:1rem;display:flex; justify-content:center;align-content:center;">
                                        
                                        <div>
                                            Groups: 
                                            {% for group in Lecture.groups %}
                                                {{group.Group.GroupCode}} 
                                            {% endfor %}

                                        </div>
                                                    
                                            <div>
                                                {% comment %} <a class="btn btn-success" href="{% url 'Approve' orderId=order.OrderId %}" title="Remove item from cart?" style="padding:5px;" >Approve order</a> {% endcomment %}
                                            </div>
    
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                
    
    
    
    
    
    
            
    
    
            </div>
        {%else%}

        <div class="text-center text-info" style="padding:1rem">
            <h4><b>No lectures assigned on the program please add them by navigating to 
                <a href="{% url 'all_Modules' ProgramId=program.ProgramId %}">all modules </a> 
                of the program and to details of each module to assign lectures to groups as per the module</b></h4>
        </div>



        {% endif %}
 


    <div>

{% endblock %}
