{% extends "streamApp/base.html" %}
{% block content %}
    {% load static %}

    {% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div style="padding:1rem; background-color:azure; border:solid 2px #284678; border-radius:15px; width:auto">
                <p style="color:#fa1414">
                    <b> {{ message }}.</b>
                </p>
                </div>
            </center>
        </div>

        {% endfor %}
    {% endif %}
    

    <div class="container">
        <div style="display:flex, justify-content:center">
            <h2><b>Add new program</b></h2>
        </div>
  
        <form method="post">
            {% csrf_token %}
            <div>
                <label class="form-label" >Program Name</label>
                <input type="text" required name="ProgramName" value="{{program.ProgramName}}"  class="form-control form-control-lg"/>
            </div> 
            <div>
                <label class="form-label" >Program Code</label>
                <input type="text" required name="ProgramCode" value="{{program.ProgramCode}}" class="form-control form-control-lg"/>
            </div> 
            
              
            <div style="display:flex; justify-content:center; padding: 1rem">
                
                <button type="submit" style="border-radius:100px; width:auto; height:auto;background-color:#284678;color:white;"  class="form-control form-control-lg text-center" > Submit and Continue </button>
            </div>  
        </form>


    <div>

{% endblock %}
